/*learn how to set themes here: https://webdesign.tutsplus.com/tutorials/color-schemes-with-css-variables-and-javascript--cms-36989*/
:root,
:root.coffee {
	--bg-color: #BEB4A3;
	--text-color: #2B190C;
	--outline-color: #A87C58;
	--paper-color: #F8E8C1;
	--paper-line-color: #E2D5B6;
}
 
:root.toffee {
	--bg-color: white;
	--text-color: white;
	--outline-color: white;
	--paper-color: black;
	--paper-line-color: white;
}
html {
	background-color: var(--bg-color);
	color: var(--text-color);
}

@font-face {
font-family: "cella";
src: url("fonts/cella/Cella.ttf");
}

@font-face {
font-family: "underwood-champion";
src: url("fonts/underwood-champion/uwch.ttf");
}

@font-face {
font-family: "brock-script";
src: url("fonts/brock-script/BrockScript.ttf");
}

@font-face {
font-family: "BrownBagLunch";
src: url("fonts/BrownBagLunch/BrownBagLunch.ttf");
}

@font-face {
font-family: "engineeringhand";
src: url("fonts/EngineerHand.ttf");
}

hr {
	border-top: 5px dashed var(--outline-color);
}
p {
	font-family: 'underwood-champion', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 25px;
}
h1 {
	font-family: 'underwood-champion', Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 50px;
}
h2 {
	font-family: 'underwood-champion', Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 40px;
}

/*learn to make lined paper here: https://codepen.io/ceg9498/post/creating-lined-paper*/
.lined-background {
	/*width: 80vh;*/
	/*height: 100vh;*/
	background: repeating-linear-gradient(
		var(--paper-color), var(--paper-color) 35px,
  		var(--paper-line-color) 36px, 
  		var(--paper-line-color) 37px
	);
}
.lined-body {
	position: relative;
	margin: -2px 10px;
	line-height: 33px;
	padding-bottom: 10px;
}
.lined-body h1{
	line-height: 66px;
}
.lined-background-header {
	background: var(--paper-color);
	height: 70px;
	font-family: 'underwood-champion', Arial, sans-serif;
	font-weight: bold;
	font-style: normal;
	font-size: 50px;
	text-align: center;
	position: relative;

}